<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="col-sm-4 form-group">
        <label for="">Titulo</label>
        <input type="text" class="form-control" [(ngModel)]="novoProduto.titulo" name="titulo">
        <label for="">Descrição</label>
        <input type="text" class="form-control" [(ngModel)]="novoProduto.descricao" name="descricao">
        <label for="">Imagem</label>
        <input type="text" class="form-control" [(ngModel)]="novoProduto.imageUrl" name="imageUrl">
        <label for="">Preço</label>
        <input type="number" class="form-control col-sm-4" [(ngModel)]="novoProduto.preco" name="preco">
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary float-right" type="submit">Salvar</button>
    </div>
</form>