<div class="row">
    <div class="card mr-2 mb-4" *ngFor="let produto of produtos; index as id ">
        <img [src]="produto.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ produto.titulo }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <p class="card-text price">{{ produto.preco | price:'R$' }}</p>
            <p appGreenText *ngIf="produto.preco < 15">Promoção</p>
            <a class="btn btn-success mr-1" [routerLink]="['/editar-produto', produto.id]">Editar</a>
            <a class="btn btn-danger " (click)="onRemove(produto)">Remover</a>
        </div>
    </div>
</div>