<!-- header -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" routerLink="/lista-produtos">Lista de Produtos</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link" routerLinkActive="active" routerLink="/novo-produto">Novo Produto</a>
    </li>
</ul>
<!-- header -->



<!-- conteudo -->
<div class="container-fluid mt-3 ml-5 ">
    <router-outlet></router-outlet>
</div>
<!-- conteudo -->